@charset "UTf-8";
@font-face {
    font-family: Android;
    src: url('fontes/idroid.otf') format('truetype');
}

a{
    color: #1B6139;
    text-decoration: none;
}

a:hover{
    color: red;
    text-decoration: underline;
}

body{
    background-color: #84E1AD;
    padding:auto;
  
}

header{
    background-image: linear-gradient(#36C274, #1B6139);
    width: auto;
    height: 150px;
    color: white;
    position: sticky;
}
header > p{
    text-align: center;
    margin-bottom: 20px;
}

h1{
    margin-bottom: 30px;
    text-align: center;
}

h2{
    color: #205F3D;
    background-color: #5afda65d;
    font-family: Android;
}

nav > a{
    margin-right: 30px;
    color: white;
    text-decoration: none;
}

nav > a:hover{
    color: rgb(255, 30, 0);
    text-decoration: underline;
}
p{
    text-indent: 20px;
}

main > h1{
    color: #205F3D;
    text-align: left;
    font-family: Android;
}

main{
    background-color: white;
    padding: 20px;
    margin: auto;
    max-width: 800px;
    min-width: 320px;
}

div{
    background-color: #8ce7b5;
    width: auto;
    border-radius: 15px;
}

div > h1 {
    background-color: #1B6139;
    border-radius: 15px 15px 0px 0px;
}

footer{
    background-color: black;
    color: white;
    border-radius: 10px;
    text-align: center;
}

div.video{
    background-color: #1B6139;
    margin: 0 -20 30 -20;
    padding: 20%;
    padding-bottom: 59%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
